:root {
  --background-main-color: #ffffff;
  --background-secondary-color: #f5f4fa;
  --footer-backgound: #2f303a;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --text-color: #000000;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --header-line: #ececec;
  --border-color: #eeeeee;
  --hero-btn-hover: #188ce8;
  --svg-color: #afb1b8;
  --time-duration: 250ms;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --team-list-gap: 30px;
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

body {
  background-color: var(--background-main-color);
  color: var(--primary-text-color);
  padding-top: 80px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 767px) {
  body {
    padding-top: 60px;
  }
}

body.modal-open {
  overflow: hidden;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.practice__title,
.team-title,
.clients-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .practice__title,
.team-title,
.clients-title {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .logo {
    margin-right: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
  }
}

.logo,
.word {
  color: var(--text-color);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.word {
  color: var(--accent-color);
}

.second {
  padding-top: 0;
  margin-right: 0;
  color: var(--background-main-color);
}

.secondary {
  color: var(--accent-color);
}

.header-line {
  border-bottom: 1px solid var(--header-line);
}

.container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 767px) {
  .container-header {
    height: 60px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .container-header {
    height: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .container-header {
    height: 80px;
  }
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .site-nav .item + .item {
    margin-left: 50px;
  }
}

.site-nav {
  padding: 0;
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav {
    margin-right: 300px;
  }
}

@media screen and (min-width: 768px) {
  .link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.site-nav .link {
  display: block;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color var(--time-duration) var(--cubic-bezier);
  transition: color var(--time-duration) var(--cubic-bezier);
}
.site-nav .link:hover, .site-nav .link:focus {
  color: var(--accent-color);
}
@media screen and (max-width: 767px) {
  .site-nav .link {
    font-size: 40px;
    line-height: 1.17;
  }
}

.site-nav .link.current,
.mobile-menu .link.current {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .main-nav .item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (max-width: 767px) {
  .main-nav .item:last-child {
    margin-bottom: 300px;
  }
}

@media screen and (min-width: 768px) {
  .item-current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .item-currents::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform var(--time-duration) var(--cubic-bezier);
    transition: -webkit-transform var(--time-duration) var(--cubic-bezier);
    transition: transform var(--time-duration) var(--cubic-bezier);
    transition: transform var(--time-duration) var(--cubic-bezier), -webkit-transform var(--time-duration) var(--cubic-bezier);
  }
}

.item-currents:hover::after,
.item-currents:focus::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

@media screen and (min-width: 768px) {
  .contact {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media screen and (min-width: 480x) {
  .contact .item:not(:last-child) {
    padding-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .contact .item:not(:last-child) {
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact .item:not(:last-child) {
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contact .item + .item {
    margin-left: 50px;
  }
}

.contact .links {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: fill var(--time-duration) var(--cubic-bezier), color var(--time-duration) var(--cubic-bezier);
  transition: fill var(--time-duration) var(--cubic-bezier), color var(--time-duration) var(--cubic-bezier);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact .links {
    font-size: 12px;
    line-height: 1.16;
  }
}

.icon-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: var(--secondary-text-color);
}

.icon-envelope,
.icon-tell {
  margin-right: 10px;
  cursor: pointer;
}

.contact .links:hover,
.contact .links:focus,
.contact-link:hover,
.contact-link:focus,
.icon-mail:hover,
.icon-mail:focus,
.icon-tell:hover,
.icon-tell:focus,
.adress-link:hover,
.adress-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: var(--background-main-color);
}

.container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}
@media screen and (max-width: 767px) {
  .container-header {
    height: 60px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .container-header {
    height: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .container-header {
    height: 80px;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  color: var(--accent-color);
}

.menu-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  fill: var(--accent-color);
}

.menu-container {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--background-main-color);
  z-index: 999;
  overflow-y: scroll;
  -webkit-transform: translatex(-100%);
          transform: translatex(-100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translatex(0);
          transform: translatex(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 21px;
  right: 25px;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: inline-block;
  color: var(--primary-text-color);
  text-decoration: none;
}
.mobile-menu .link:hover {
  color: var(--accent-color);
}

.mobile-menu .mobile-item:not(:last-child) {
  padding-bottom: 32px;
}

.mobile-item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mobile-contacts .link {
  color: var(--secondary-text-color);
  text-decoration: none;
}

.mobile-tell {
  padding-bottom: 32px;
}

.mobile-tell .link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-mail {
  padding-bottom: 64px;
}

.mobile-mail .link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
}

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .main-menu {
    display: none;
  }
}

.menu-social {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 360px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-social .link {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: var(--accent-color);
}

.line:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.hero__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  max-width: 216px;
  height: 50px;
  padding: 10px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.06em;
  -webkit-transition: background-color var(--time-duration) var(--cubic-bezier), -webkit-box-shadow var(--time-duration) var(--cubic-bezier);
  transition: background-color var(--time-duration) var(--cubic-bezier), -webkit-box-shadow var(--time-duration) var(--cubic-bezier);
  transition: background-color var(--time-duration) var(--cubic-bezier), box-shadow var(--time-duration) var(--cubic-bezier);
  transition: background-color var(--time-duration) var(--cubic-bezier), box-shadow var(--time-duration) var(--cubic-bezier), -webkit-box-shadow var(--time-duration) var(--cubic-bezier);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: var(--hero-btn-hover);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    width: 216px;
  }
}

.subscribe-btn, .submit-modal {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  max-width: 200px;
  height: 50px;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid var(--accent-color);
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--white-color);
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color var(--time-duration) var(--cubic-bezier);
  transition: background-color var(--time-duration) var(--cubic-bezier);
}
.subscribe-btn:hover, .submit-modal:hover, .subscribe-btn:focus, .submit-modal:focus {
  background-color: var(--hero-btn-hover);
}
@media screen and (min-width: 1200px) {
  .subscribe-btn, .submit-modal {
    margin-left: 12px;
  }
}

.subsribe-icon {
  margin-left: 12px;
  fill: var(--white-color);
}

.modal-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.submit-modal:hover, .submit-modal:focus {
  background-color: var(--hero-btn-hover);
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter__button {
  display: inline-block;
  padding-left: 22px;
  padding-right: 22px;
  min-width: 73px;
  height: 38px;
  background-color: var(--background-secondary-color);
  color: var(--text-color);
  cursor: pointer;
  border-radius: 4px;
  border: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  -webkit-transition: color var(--time-duration) var(--cubic-bezier), background-color var(--time-duration) var(--cubic-bezier), -webkit-box-shadow var(--time-duration) var(--cubic-bezier);
  transition: color var(--time-duration) var(--cubic-bezier), background-color var(--time-duration) var(--cubic-bezier), -webkit-box-shadow var(--time-duration) var(--cubic-bezier);
  transition: color var(--time-duration) var(--cubic-bezier), background-color var(--time-duration) var(--cubic-bezier), box-shadow var(--time-duration) var(--cubic-bezier);
  transition: color var(--time-duration) var(--cubic-bezier), background-color var(--time-duration) var(--cubic-bezier), box-shadow var(--time-duration) var(--cubic-bezier), -webkit-box-shadow var(--time-duration) var(--cubic-bezier);
}
.filter__button:hover, .filter__button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter .filter__btn + .filter__btn {
  margin-left: 8px;
}

.btn-close {
  position: relative;
}

.close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 6px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--background-main-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  -webkit-transition: fill var(--time-duration) var(--cubic-bezier);
  transition: fill var(--time-duration) var(--cubic-bezier);
}
.btn-close:hover .close, .btn-close:focus-within .close {
  fill: var(--accent-color);
}

.hero {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: var(--footer-backgound);
}

.container-hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/background/backgroundmobile1x.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/backgroundmobile1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 1199px) {
  .container-hero {
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .container-hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background/backgroundmobile2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background/backgroundmobile2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .container-hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/background/backgroundtablet1x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/backgroundtablet1x.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .container-hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background/backgroundtablet2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background/backgroundtablet2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .container-hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/background/background1x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/background1x.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .container-hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background/background2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background/background2x.jpg);
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;
  height: 120px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}
@media screen and (max-width: 1199px) {
  .hero__title {
    max-width: 360px;
    height: 84px;
    font-size: 26px;
    line-height: 1.62;
  }
}

.advantages-list {
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .advantages-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 480px) {
  .advantages {
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .advantages {
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .advantages-item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-item {
    width: 270px;
  }
}

.advantages-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .advantages-title {
    text-align: center;
  }
}

.advantages-text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

@media screen and (max-width: 767px) {
  .advantages-item:not(:last-child) {
    padding-bottom: 30px;
  }
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--background-secondary-color);
  border-radius: 4px;
}
@media screen and (min-width: 480px), (max-width: 767px) {
  .box {
    min-width: 100%;
    height: 120px;
  }
}

@media screen and (max-width: 1199px) {
  .practice {
    display: none;
  }
}

.practice__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.practice__img {
  position: relative;
}

.practice__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 70px;
  padding: 0;
  margin: 0;
  bottom: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--white-color);
}

.team {
  background-color: var(--background-secondary-color);
}

.team-list {
  padding: 0;
  margin: auto;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: calc(-1 * var(--team-list-gap));
    margin-top: calc(-1 * var(--team-list-gap));
  }
}
@media screen and (min-width: 1200px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: calc(-1 * var(--team-list-gap));
    margin-top: calc(-1 * var(--team-list-gap));
  }
}

@media screen and (min-width: 768px) {
  .team-list > .card {
    -ms-flex-preferred-size: calc(50% - var(--team-list-gap));
        flex-basis: calc(50% - var(--team-list-gap));
    margin-left: var(--team-list-gap);
    margin-top: var(--team-list-gap);
  }
}
@media screen and (min-width: 1200px) {
  .team-list > .card {
    -ms-flex-preferred-size: calc(25% - var(--team-list-gap));
        flex-basis: calc(25% - var(--team-list-gap));
    margin-left: var(--team-list-gap);
    margin-top: var(--team-list-gap);
  }
}

/* CARD */
.card {
  background-color: var(--background-main-color);
  -webkit-box-shadow: var(--card-shadow);
          box-shadow: var(--card-shadow);
  border-radius: 0 0 4px 4px;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .card:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team-name {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 10px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--secondary-text-color);
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 30px;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--background-main-color);
  fill: var(--svg-color);
  -webkit-transition: fill var(--time-duration) var(--cubic-bezier), background-color var(--time-duration) var(--cubic-bezier);
  transition: fill var(--time-duration) var(--cubic-bezier), background-color var(--time-duration) var(--cubic-bezier);
}
.social-link:hover, .social-link:focus {
  background-color: var(--accent-color);
  fill: var(--white-color);
}

.social-item + .social-item {
  margin-left: 10px;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: calc(-1 * var(--team-list-gap));
  margin-top: calc(-1 * var(--team-list-gap));
}

.client-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 92px;
  border: 1px solid var(--svg-color);
  border-radius: 4px;
  fill: var(--svg-color);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: fill var(--time-duration) var(--cubic-bezier), border-color var(--time-duration) var(--cubic-bezier);
  transition: fill var(--time-duration) var(--cubic-bezier), border-color var(--time-duration) var(--cubic-bezier);
}
.client-link:hover, .client-link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}
@media screen and (max-width: 768px) {
  .client-link {
    max-width: 210px;
    height: 92px;
  }
}
@media screen and (min-width: 768px) {
  .client-link {
    width: 226px;
    height: 92px;
  }
}
@media screen and (min-width: 1200px) {
  .client-link {
    width: 170px;
    height: 92px;
  }
}

@media screen and (max-width: 768px) {
  .icon-client {
    -ms-flex-preferred-size: calc(50% - var(--team-list-gap));
        flex-basis: calc(50% - var(--team-list-gap));
    margin-left: var(--team-list-gap);
    margin-top: var(--team-list-gap);
  }
}
@media screen and (min-width: 768px) {
  .icon-client {
    -ms-flex-preferred-size: calc(33.3333333333% - var(--team-list-gap));
        flex-basis: calc(33.3333333333% - var(--team-list-gap));
    margin-left: var(--team-list-gap);
    margin-top: var(--team-list-gap);
  }
}
@media screen and (min-width: 1200px) {
  .icon-client {
    -ms-flex-preferred-size: calc(16.6666666667% - var(--team-list-gap));
        flex-basis: calc(16.6666666667% - var(--team-list-gap));
    margin-left: var(--team-list-gap);
    margin-top: var(--team-list-gap);
  }
}

.footer {
  background-color: var(--footer-backgound);
}

.adress-box {
  display: block;
}
@media screen and (max-width: 1199px) {
  .adress-box {
    text-align: center;
  }
}

.address {
  margin-top: 20px;
  font-style: inherit;
}
@media screen and (max-width: 767px) {
  .address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .adress-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .adress-wrap {
    padding-bottom: 0;
  }
}

.container-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 1200px) {
  .container-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contact-link {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-transition: color var(--time-duration) var(--cubic-bezier);
  transition: color var(--time-duration) var(--cubic-bezier);
}
@media screen and (max-width: 767px) {
  .contact-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contacts-link:not(:last-child) {
  margin-bottom: 9px;
}

.adress-link {
  font-size: 14px;
  line-height: 1.71;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: var(--background-main-color);
  -webkit-transition: color var(--time-duration) var(--cubic-bezier);
  transition: color var(--time-duration) var(--cubic-bezier);
}

.contact-link {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.box-social-footer {
  margin-left: 70px;
  padding-top: 12px;
}
@media screen and (max-width: 767px) {
  .box-social-footer {
    margin-left: 0;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.text-footer {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}
@media screen and (max-width: 1199px) {
  .text-footer {
    text-align: center;
  }
}

.social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 0;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .social-footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.social-link-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--white-color);
  -webkit-transition: background-color var(--time-duration) var(--cubic-bezier);
  transition: background-color var(--time-duration) var(--cubic-bezier);
}
.social-link-footer:hover, .social-link-footer:focus {
  background-color: var(--accent-color);
}

.social-item + .social-item {
  margin-left: 10px;
}

/* Footer subscribe */
.subscribe {
  margin-left: 70px;
}
@media screen and (max-width: 1199px) {
  .subscribe {
    margin-left: 0;
  }
}

@media screen and (max-width: 1199px) {
  .subscribe-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.subscribe-title {
  margin: 0;
  padding-top: 12px;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}
@media screen and (max-width: 1199px) {
  .subscribe-title {
    text-align: center;
    padding-top: 0;
  }
}

.subscribe-window {
  height: 50px;
  padding: 15px 16px;
  background-color: var(--footer-backgound);
  color: var(--white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  outline: none;
  -webkit-transition: border var(--time-duration) var(--cubic-bezier);
  transition: border var(--time-duration) var(--cubic-bezier);
}
.subscribe-window:hover, .subscribe-window:focus-within {
  border: 1px solid var(--accent-color);
}
@media screen and (max-width: 767px) {
  .subscribe-window {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .subscribe-window {
    width: 450px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-window {
    width: 358px;
    margin-bottom: 20px;
  }
}

.subscribe-window::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-window::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-window:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-window::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-window::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 93px 15px;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  opacity: 1;
  -webkit-transition: opacity var(--time-duration) var(--cubic-bezier);
  transition: opacity var(--time-duration) var(--cubic-bezier);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.3);
          transform: translate(-50%, -50%) scale(0.3);
}

.modal {
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--background-main-color);
  -webkit-transition: -webkit-transform var(--time-duration) var(--cubic-bezier);
  transition: -webkit-transform var(--time-duration) var(--cubic-bezier);
  transition: transform var(--time-duration) var(--cubic-bezier);
  transition: transform var(--time-duration) var(--cubic-bezier), -webkit-transform var(--time-duration) var(--cubic-bezier);
}
@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}
@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (max-width: 767px) {
  .modal {
    width: 100%;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

/* modal form */
textarea {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border var(--time-duration) var(--cubic-bezier);
  transition: border var(--time-duration) var(--cubic-bezier);
}

.form {
  padding: 40px;
}

.modal-title {
  margin: 0;
  padding-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
@media screen and (max-width: 1199px) {
  .modal-title {
    font-size: 20px;
    line-height: 1.5;
  }
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  cursor: pointer;
  color: var(--secondary-text-color);
}

.icon {
  position: absolute;
  left: 15px;
  top: 50%;
  cursor: pointer;
  fill: var(--primary-text-color);
  -webkit-transition: fill var(--time-duration) var(--cubic-bezier);
  transition: fill var(--time-duration) var(--cubic-bezier);
}

.form-input {
  position: relative;
  width: 100%;
  height: 40px;
  padding: 12px 15px;
  padding-left: 42px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  -webkit-transition: border var(--time-duration) var(--cubic-bezier);
  transition: border var(--time-duration) var(--cubic-bezier);
}

.form-field:focus-within > .icon,
.form-field:hover > .icon {
  fill: #2196f3;
}

.form-field:focus-within .form-input,
.form-field:hover .form-input {
  border: 1px solid var(--accent-color);
}

.comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  cursor: pointer;
  color: var(--secondary-text-color);
}

.comment-box {
  margin-top: 4px;
  margin-bottom: 20px;
  -webkit-transition: var(--time-duration) var(--cubic-bezier);
  transition: var(--time-duration) var(--cubic-bezier);
}

.comment-box::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
}

.comment-box::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
}

.comment-box:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
}

.comment-box::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
}

.comment-box::placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
}

.comments:hover .comment-box,
.comments:focus-within .comment-box {
  border: 1px solid var(--accent-color);
}

/* Checkbox */
.checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
@media screen and (max-width: 1199px) {
  .checkbox-label {
    font-size: 12px;
    line-height: 1.16;
  }
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-link {
  margin-left: 5px;
  color: var(--accent-color);
}

.checkbox-icon {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid black;
  border-radius: 4px;
  -webkit-transition: var(--time-duration) var(--cubic-bezier);
  transition: var(--time-duration) var(--cubic-bezier);
}

.checkbox:checked + .checkbox-icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
}

.content-title {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.content-text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
}

.content-list {
  margin-left: calc(-1 * var(--team-list-gap));
  margin-top: calc(-1 * var(--team-list-gap));
}
@media screen and (min-width: 768px) {
  .content-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .content-list > .card-filter {
    -ms-flex-preferred-size: calc(50% - var(--team-list-gap));
        flex-basis: calc(50% - var(--team-list-gap));
    margin-left: var(--team-list-gap);
    margin-top: var(--team-list-gap);
  }
}
@media screen and (min-width: 1200px) {
  .content-list > .card-filter {
    -ms-flex-preferred-size: calc(33.3333333333% - var(--team-list-gap));
        flex-basis: calc(33.3333333333% - var(--team-list-gap));
    margin-left: var(--team-list-gap);
    margin-top: var(--team-list-gap);
  }
}

.card-filter {
  -webkit-box-shadow: border 1px solid var(--border-color);
          box-shadow: border 1px solid var(--border-color);
}
.card-filter:hover, .card-filter:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: -webkit-box-shadow var(--time-duration) var(--cubic-bezier);
  transition: -webkit-box-shadow var(--time-duration) var(--cubic-bezier);
  transition: box-shadow var(--time-duration) var(--cubic-bezier);
  transition: box-shadow var(--time-duration) var(--cubic-bezier), -webkit-box-shadow var(--time-duration) var(--cubic-bezier);
}

/* card */
.link-card {
  text-decoration: none;
  color: inherit;
}

.wraper {
  padding: 20px 24px;
  max-width: 100%;
  background: var(--white-color);
  border: 1px solid var(--border-color);
}

.card-thumbs {
  position: relative;
  overflow: hidden;
}

.card-overlay {
  position: absolute;
  top: 0;
  margin: 0;
  max-width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--white-color);
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity var(--time-duration) var(--cubic-bezier), -webkit-transform var(--time-duration) var(--cubic-bezier);
  transition: opacity var(--time-duration) var(--cubic-bezier), -webkit-transform var(--time-duration) var(--cubic-bezier);
  transition: transform var(--time-duration) var(--cubic-bezier), opacity var(--time-duration) var(--cubic-bezier);
  transition: transform var(--time-duration) var(--cubic-bezier), opacity var(--time-duration) var(--cubic-bezier), -webkit-transform var(--time-duration) var(--cubic-bezier);
}

.card-filter:hover .card-overlay,
.card-filter:focus .card-overlay {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}/*# sourceMappingURL=main.css.map */