.footer {
    background-color: var(--footer-backgound);
}

.adress-box {
    display: block;
}

.container-footer {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    justify-content: space-between;
}

.contact-link {
    text-decoration-line: none;
    transition: color var(--time-duration) var(--cubic-bezier);
}

.contacts-link:not(:last-child) {
    margin-bottom: 9px;
}

.address {
    margin-top: 20px;
    font-style: inherit;
}

.adress-link {
    font-size: 14px;
    line-height: 1.71;
    text-decoration-line: none;

    color: var(--background-main-color);
    transition: color var(--time-duration) var(--cubic-bezier);

}

.contact-link {
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}

.box-social-footer {
    margin-left: 70px;
    padding-top: 12px;
}

.text-footer {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--white-color);
}

.social-footer {
    display: flex;
    padding-bottom: 0;
    margin: 0;
}

.social-link-footer {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50px;

    justify-content: center;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--white-color);

    transition: background-color var(--time-duration) var(--cubic-bezier);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}

.social-item+.social-item {
    margin-left: 10px;
}

/* Footer subscribe */

.subscribe {
    margin-left: 70px;
}

.subscribe-title {
    margin: 0;
    padding-top: 12px;
    padding-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--white-color);
}

.subscribe-window {
    width: 358px;
    height: 50px;
    padding: 15px 16px;

    background-color: var(--footer-backgound);
    color: var(--white-color);

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    outline: none;
    transition: border var(--time-duration) var(--cubic-bezier);

    &:hover,
    &:focus-within {
        border: 1px solid var(--accent-color);
    }
}


.subscribe-window::placeholder {
    color: rgba(255, 255, 255, 0.6);
}
