.team {
    background-color: var(--background-secondary-color);
}

.team-list {
    padding: 0;
    margin: auto;
    list-style: none;

    @media screen and (min-width: 768px) {
            display: flex;
                flex-wrap: wrap;
                margin-left: calc(-1 * var(--team-list-gap));
                    margin-top: calc(-1 * var(--team-list-gap));
        }

    @media screen and (min-width: 1200px) {
        display: flex;
        flex-wrap: wrap;
        margin-left: calc(-1 * var(--team-list-gap));
        margin-top: calc(-1 * var(--team-list-gap));
    }
}



.team-list>.card {

    @media screen and (min-width: 768px) {
        flex-basis: calc(100% / 2 - var(--team-list-gap));
            margin-left: var(--team-list-gap);
            margin-top: var(--team-list-gap);
            }

    @media screen and (min-width: 1200px) {
        flex-basis: calc(100% / 4 - var(--team-list-gap));
        margin-left: var(--team-list-gap);
        margin-top: var(--team-list-gap);
    }

}

/* CARD */
.card {
        background-color: var(--background-main-color);
    box-shadow: var(--card-shadow);
    border-radius: 0 0 4px 4px;
    overflow: hidden;

}

.card:not(:last-child) {
    @media screen and (max-width: 767px) {
            margin-bottom: 30px;
        }
}



.team-name {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 10px;

    color: var(--primary-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

.team-text {
    margin-top: 0;
    margin-bottom: 0;

    color: var(--secondary-text-color);

    padding-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}