.advantages-list {
    // display: flex;
    gap: 30px;
    // justify-content: space-between;

    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
    }
    
    @media screen and (min-width:1200px) {
        display: flex;   
        
    }
}

.advantages {

    @media screen and (min-width: 480px) {
            padding-bottom: 60px;
        }

@media screen and (min-width: 768px) {
                padding-bottom: 60px;
}

    @media screen and (min-width: 1200px) {
            padding-bottom: 0;
    }
}

.advantages-item {
    
  @media screen and (min-width:768px) {
    width: 354px;
  }

   @media screen and (min-width:1200px) {
       width: 270px;
   }
}

.advantages-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    @media screen and (max-width: 767px) {
        text-align: center;
    }
}

.advantages-text {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    color: var(--secondary-text-color);

   
    }

.advantages-item:not(:last-child){

@media screen and (max-width:767px) {
    padding-bottom: 30px;
}

}


.box {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 270px;
    height: 120px;
    margin-bottom: 30px;

    background-color: var(--background-secondary-color);
    border-radius: 4px;

    @media screen and (min-width: 480px), (max-width: 767px) {
            min-width: 100%;
            height: 120px;
    }

   
}


