.logo {
  
@media screen and (min-width: 480px) {
        // padding-top: 24px;
        margin-right: 50px;
    }

@media screen and (min-width: 768px) {
        // padding-top: 24px;
        margin-right: 88px;
    }

    @media screen and (min-width: 1200px) {
        // padding-top: 24px;
            margin-right: 93px;
    }
}

.logo,
.word {
    color: var(--text-color);

    font-family: $secondaryFontFamily;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration-line: none;
}

.word {
    color: var(--accent-color);
}

.second {
    padding-top: 0;
    margin-right: 0;
    color: var(--background-main-color);
}

.secondary {
    color: var(--accent-color);
}