.header-line {
    border-bottom: 1px solid var(--header-line);
}

.container-header {
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;

  @media screen and (max-width: 767px) {
    height: 60px;
    justify-content: space-between;
  }

   @media screen and (min-width: 768px) {
       height: 80px;
   }

        @media screen and (min-width: 1200px) {
            height: 80px;
        }
}



.main-nav {
    display: flex;
    
}

.site-nav .item+.item {
    @media screen and (min-width:768px) {
        margin-left: 50px;
    }
    
}


.site-nav {
    padding: 0;

   @media screen and (min-width:768px) {
        display: flex;
        align-items: center;
        margin-right: 88px;
   }

    @media screen and (min-width:1200px) {
        margin-right: 300px;
    }
}


.link {
    @media screen and (min-width:768px) {
        padding-top: 32px;
            padding-bottom: 32px;
    }
    
}



.site-nav .link {
    display: block;

    color: var(--primary-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color var(--time-duration) var(--cubic-bezier);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    @media screen and (max-width:767px) {
            font-size: 40px;
                line-height: 1.17;
    }

      
}


.site-nav .link.current,
.mobile-menu .link.current {
    color: var(--accent-color);
}

.main-nav .item {
   @media screen and (min-width:768px) {
        position: relative;
        display: flex;
   }
   
   &:last-child {
    @media screen and (max-width:767px) {
            margin-bottom: 300px;
        }
   }
}


.item-current::after {
@media screen and (min-width:768px) {
        content: "";
        
            position: absolute;
            left: 0;
            bottom: 0;
        
            width: 100%;
            height: 4px;
            border-radius: 2px;
        
            background-color: var(--accent-color);
}
    
}

.item-currents::after {
   @media screen and (min-width:768px) {
    content: "";
    
        position: absolute;
        left: 0;
        bottom: 0;
    
        width: 100%;
        height: 4px;
        border-radius: 2px;
    
        background-color: var(--accent-color);
    
        transform: scaleX(0);
        transition: transform var(--time-duration) var(--cubic-bezier);
   }
}

.item-currents:hover::after,
.item-currents:focus::after {
    transform: scaleX(1);
}





.contact {
    @media screen and (min-width: 768px) {
        margin-left: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        }

    @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: row;
    }

    & .item:not(:last-child) {
        @media screen and (min-width: 480x) {
                padding-bottom: 0;
            }
        
            @media screen and (min-width: 768px) {
                padding-bottom: 10px;
            }
        
            @media screen and (min-width: 1200px) {
                padding-bottom: 0;
            }
    }

    & .item+.item {
        @media screen and (min-width: 1200px) {
                margin-left: 50px;
            }
    }
}


.contact .links {
    display: inline-flex;
    color: var(--secondary-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    align-items: center;

    transition: fill var(--time-duration) var(--cubic-bezier),
        color var(--time-duration) var(--cubic-bezier);

       @media screen and (min-width:768px) and (max-width:1199px) {
            font-size: 12px;
                line-height: 1.16;
       }

}



.icon-mail {
    display: flex;
    align-items: center;
    fill: var(--secondary-text-color);

   
}

.icon-envelope,
.icon-tell {
    margin-right: 10px;
    cursor: pointer;
}

.contact .links:hover,
.contact .links:focus,
.contact-link:hover,
.contact-link:focus,
.icon-mail:hover,
.icon-mail:focus,
.icon-tell:hover,
.icon-tell:focus,
.adress-link:hover,
.adress-link:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
}



.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    background-color: var(--background-main-color);

}

.container-header {
display: flex;
justify-content: space-between;
align-items: center;
height: 60px;

@media screen and (max-width: 767px) {
        height: 60px;
        justify-content: space-between;
    }

    @media screen and (min-width: 768px) {
        height: 80px;
    }

    @media screen and (min-width: 1200px) {
        height: 80px;
    }
}


// mobile menu

.menu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: center;
}

@media (max-width: 767px) {
    .menu {
        display: none;
    }
}

.menu .link {
    padding: 10px;
    color: inherit;
    text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
    color: var(--accent-color);
}

.menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-toggle:hover,
.menu-toggle:focus {
    fill: var(--accent-color);
}

.menu-container {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    background-color:var(--background-main-color);
    z-index: 999;
    overflow-y: scroll;

    transform: translatex(-100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translatex(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 21px;
    right: 25px;
}

.mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.mobile-menu .link {
    display: inline-block;
    color: var(--primary-text-color);
    text-decoration: none;
    
    &:hover {
        color: var(--accent-color);
    }

}

.mobile-menu .mobile-item:not(:last-child) {
    padding-bottom: 32px;
}

.mobile-item {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;

}



.mobile-contacts .link {
    color:var(--secondary-text-color);
    text-decoration: none;
}

.mobile-tell {
    margin-top: 280px;
    padding-bottom: 32px;
}

.mobile-tell .link{
    font-weight: 500;
        font-size: 34px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: var(--accent-color);
    }

.mobile-mail {
    padding-bottom: 64px;
}

.mobile-mail .link {
    font-weight: 500;
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: 0.02em;
}

.main-menu {
    display: flex;
    align-items: center;
    @media screen and (max-width: 767px) {
        display: none;
    }
}



.menu-social {
    position: relative;
    display: flex;
    max-width: 360px;
    align-items: center;
    justify-content: space-between;
}

.menu-social .link{
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;

    text-decoration-line: none;
    color: var(--accent-color);

}

.line:after {
    content:" ";
    
   position: absolute;
   top: 50%;
   margin: auto;

  
    width: 22px;
    height: 1px;
    background-color: rgba(33, 33, 33, 0.2);
   transform: rotate(90deg);
}